.chat {
  position: fixed;
  bottom: 70px;
  right: 20px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  transition: all 0.3 ease;
  z-index: 100;
  border-radius: 20px;
  padding: 20px;
  border: 2px solid white;
}

.chat h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.chat-heading{
  background-color: white;
  color: black;
  width: calc(100% + 42px);
  transform: translateY(-21px);
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.chat-heading div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-bot-image{
  object-fit: contain;
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.chat h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 300;
}

.close-icon{
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close-icon:hover{
  scale: 1.1;
}

.chat-messages {
  width: 100%;
  flex-grow: 1;
  max-height: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: y mandatory;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

#bottom-of-chat {
  width: 100%;
  height: 1px;
}

.chat-input-container {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.chat-input {
  flex-grow: 1;
  height: 100%;
  border-radius: 25px;
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 20px;
  margin-right: 10px;
  height: 100%;
  width: 80%;
  color: inherit;
}

.chat-input-container form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-input::placeholder {
  color: inherit;
}

.chat-input-container button {
  background: none;
  border: none;
  color: inherit;
}

.chat-input-container svg {
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}

.chat-input-container svg:hover {
  scale: 1.1;
}

.chat-messages {
  display: flex;
  flex-direction: column;
}

.my-message,
.ai-message {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  scroll-snap-align: end;
  position: relative;
}

.my-message {
  background-color: rgba(0, 0, 255, 0.7);
  align-self: flex-end;
  margin-left: 10%;
  color: white;
  margin-top: 50px;
}

.my-message .ai-image{
  display: none;
}

.ai-message .user-image{
  display: none;
}

.chat-bot-image.in-chat{
  position: absolute;
  top: -45px;
  border-radius: 7px;
  margin: 0;
}

.chat-bot-image.ai-image{
  left: 0;
}

.chat-bot-image.user-image{
  right: 0;
  background-color: white;
}

.ai-message {
  margin-right: 10%;
  background-color: rgba(255, 255, 255, 0.9);
  align-self: flex-start;
  color: black;
  margin-top: 50px;
}

.open-chat {
  position: fixed;
  bottom: 15px;
  right: 110px;
  z-index: 100;
}

.open-chat svg {
  font-size: 2rem;
}

.open-chat {
  cursor: pointer;
  transition: all 0.3s ease;
}

.open-chat:hover {
  scale: 1.1;
}
