.data-analysis{
  width: calc(100% - 300px);
  margin: 0 200px 50px 60px;
  display: flex;
}

.data-analysis-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px;
  gap: 50px;
  margin: 50px;
}

.plot-box {
  height: 400px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.histplot{
  grid-column: 1/3;
  grid-row: 2/3;
}

.price-range{
  grid-row: 2/3;
  grid-column: 3/5;
}

.model-ranking{
  grid-column: 1/3;
  height: 400px;
}

.small-card{
  padding: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.small-card:hover{
  scale: 1.05;
}

.small-card div, .small-card h4{
  font-family: 'Poppins', sans-serif;
}

.bar-title{
  height: 50px;
}


/* right side */

.right-side-data-analysis{
  position: fixed;
  transform: rotate(0);
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  background-color: 	hsl(221, 100%, 61%);
}

.data-tabs{
  display: flex;
  flex-direction: column;
}

.data-tabs button{
  color: white;
  margin: 10px 0;
}