.data-analysis{
  width: calc(100% - 250px);
  display: flex;
  margin-top: 5px;
  margin-left: 50px;
}

.data-analysis-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 10px 70px 10px 50px;
}

.plot-box {
  cursor: pointer;
  height: 400px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
  text-align: center;
  position: relative;
}

.get-prediction{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  transition: scale 0.3s ease;
  z-index: 1000;
}

.get-prediction.data-card{
  margin: 15px;
}

.plot-holder:hover .get-prediction, .small-card:hover .get-prediction{
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  width: 30px;
  height: 30px;
}

.plot-holder .get-prediction:hover{
  scale: 1.1;
}

.data-analysis-headers{
  grid-column: 1/5;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin: 0;
  font-weight: 500;
}

.plot-box:hover{
  scale: 1.01;
}

.histplot{
  grid-column: 1/3;
  grid-row: 4/6;
}

.price-range{
  grid-column: 1/5;
}

.model-ranking{
  grid-column: 1/2;
  height: 600px;
}

.model-listings{
  grid-column: 2/5;
  height: 600px;
}

.average-price{
  grid-column: 1/3;
  grid-row: 7/9;
  height: 100%;
}

.price-boxplot{
  grid-column: 3/5;
  grid-row: 7/8;
  height: 500px;
}

.price-line{
  grid-column: 3/5;
  height: 500px;
}

.small-card{
  padding: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.small-card:hover{
  scale: 1.05;
}

.small-card div, .small-card h4{
  font-family: 'Poppins', sans-serif;
}

.bar-title{
  height: 50px;
}


/* right side */

.right-side-data-analysis{
  position: fixed;
  transform: rotate(0);
  top: 0;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: 	hsl(221, 100%, 61%);
}

.data-tabs{
  display: flex;
  flex-direction: column;
}

.data-tabs button{
  color: white;
  margin: 10px 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  text-align: end;
}

.data-analysis-header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.horizontal-line{
  height: 1px;
  width: 100%;
  background-color: white;
}

/* top navbar */

.data-analysis-top-navbar{
  position: fixed;
  padding: 30px 15px 15px 15px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 30;
  transform: rotate(-90deg);
  transition: all 0.3s ease;
  cursor: pointer;
}

.data-analysis-top-navbar.logos:hover{
  left: -100px;
}

.data-analysis-top-navbar.logos{
  top: 80px;
  left: -115px;
  height: 200px;
  align-items: end;
  justify-content: center;
}
.data-analysis-top-navbar.heading{
  top: 400px;
  left: -130px;
  height: 100px;
}

.data-analysis-top-navbar img{
  height: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.5;
  transition: all 0.3 ease;
}

.data-selected-logo{
  opacity: 1 !important;
  scale: 1.1;
}

.data-analysis-top-navbar img:hover{
  transform: rotate(90deg);
  scale: 1.1;
}

.data-analysis-top-navbar span{
  font-size: 1.7rem;
  margin-right: 30px;
  margin-left: 30px;
}

.plot-holder{
  position: relative !important;
}

.plot-description{
  position: absolute;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  border-radius: 10px;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.plot-description.data-card{
  margin: 15px;
  height: 90%;
}

.plot-description.data-card h3{
  margin-top: 0;
}

.plot-description::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.plot-description h3{
  font-size: 1.5rem;
}

.plot-description p{
  font-size: 1.2rem;
  text-align: start;
}
