.home-page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  height: 100%;
  overflow: hidden;
  transition: 0.3s all ease;
  align-items: center;
}

.home-page-container.active {
  grid-template-columns: 5fr 4fr;
}

.home-page-paragraph {
  margin-bottom: 30px;
}

.home-page-right-side {
  position: relative;
  background-color: hsl(221, 100%, 61%);
  transform: rotate(30deg);
  width: 160%;
  height: 170%;
  transition: 0.5s all ease;
}

.home-page-right-side.active {
  transform: rotate(0deg);
  height: 100%;
  border-radius: 30px;
  box-shadow: -15px 0 20px -10px rgba(0, 0, 0, 0.5);
}

.car-predictions-loading{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  color: white;
}

.car-predictions-loading span:nth-child(1){
  margin-right: 20px;
}


.home-page-default-car {
  position: absolute;
  top: 55%;
  right: 30%;
  width: 120%;
  transform: rotate(-30deg);
  transition: 0.5s all ease;
}

.home-page-default-car.active {
  transform: rotate(0deg) !important;
  opacity: 0 !important;
  width: 180px !important;
  top: 90% !important;
  right: 50% !important;
}

.home-page-default-car.audi {
  width: 90%;
  right: 45%;
}

.home-page-input{
  z-index: 1000 !important;
}

/* CAR SPECS */

.css-1eme1u9 svg {
  position: absolute;
  right: 0;
  opacity: 0;
  transition: all 0.3 ease;
  scale: 1;
}

.css-1eme1u9 svg:hover {
  scale: 1.1;
}

.css-1eme1u9:hover svg {
  position: absolute;
  top: -15px;
  right: 0;
  opacity: 1;
}

.car-specs {
  padding: 50px 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.car-specs .heading3 {
  font-size: 3rem;
  margin: 0;
  transition: all 0.3s ease;
}

.heading3.active {
  font-size: 2.5rem;
}

.row-inputs {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.row-inputs label,
.row-inputs p,
.row-inputs label span {
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.row-inputs.smaller {
  width: 80%;
}

.row-inputs.smallest {
  width: 50%;
}

.row-inputs.cols {
  flex-direction: column;
}

.row-inputs.cols:not(.smallest) {
  width: 94%;
}

.row-inputs.cols span {
  margin-left: 5px;
}

.row-inputs div {
  margin-right: 40px;
  width: 100%;
}

.cars-found-container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 60%;
  margin: 50px;
  gap: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90%;
  justify-items: start;
  align-items: center;
  height: calc(100% - 150px);

  /* Hide scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.cars-found-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.cars-container {
  width: 66%;
  height: 100%;
}

.home-page-vw-logo {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 100px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.home-page-audi-logo {
  position: fixed;
  top: 70px;
  right: 20px;
  width: 100px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.selected-logo {
  transform: scale(1.1);
  opacity: 1;
}

.home-page-vw-logo:not(.selected-logo),
.home-page-audi-logo:not(.selected-logo) {
  opacity: 0.6;
}

.home-page-vw-logo.prediction-active {
  position: fixed !important;
  top: auto;
  bottom: 10px !important;
  right: 130px;
}

.home-page-audi-logo.prediction-active {
  position: fixed !important;
  top: auto;
  bottom: 0px !important;
  right: 230px;
}

.predicted-value {
  font-size: 1.5rem;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.prediction-range{
  display: flex;
  align-items: center;
  justify-content: center;
}

.prediction-range div{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 60px;
  width: 30px;
}

.prediction-range div svg:nth-child(1){
  color: green;
  font-size: 3rem;
  position: absolute;
  top: 0;
}
.prediction-range div svg:nth-child(2){
  color: red;
  font-size: 3rem;
  position: absolute;
  bottom: 0;
}

.prediction-range span{
  font-size: 1.3rem !important;
  border: none !important;
  margin: 0 !important;
}

.predicted-value span {
  font-size: 1.1em;
  color: hsl(221, 100%, 61%);
  border-radius: 5px;
  border: 1px solid hsl(221, 100%, 61%);
  padding: 0 10px;
  margin: 0 20px;
}

.find-cars-button {
  font-size: 1.2rem !important;
}
