.home-page-container{
  display: grid;
  grid-template-columns: 5fr 2fr;
  height: 100%;
  overflow: hidden;
  transition: 0.3s all ease;
  align-items: center;
}

.home-page-container.active{
  grid-template-columns: 5fr 4fr;
}

.home-page-right-side{
  position: relative;
  background-color: 	hsl(221, 100%, 61%);
  transform: rotate(30deg);
  width: 160%;
  height: 170%;
  transition: 0.5s all ease;
}

.home-page-right-side.active{
  transform: rotate(0deg);
  height: 100%;
  border-radius: 50px;
}

.home-page-default-car{
  position: absolute;
  top: 55%;
  right: 30%;
  width: 120%;
  transform: rotate(-30deg);
  transition: 0.5s all ease;
}

.home-page-default-car.active{
  transform: rotate(0deg);
  opacity: 0;
  width: 180px;
  top: 90%;
  right: 50%;
}

.home-page-olx-symbol{
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* CAR SPECS */

.car-specs{
  padding: 50px 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.car-specs .heading3{
  font-size: 3rem;
  margin: 0;
  transition: all 0.3s ease;
}

.heading3.active{
  font-size: 2.5rem;
}

.row-inputs{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.row-inputs label, .row-inputs p, .row-inputs label span{
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

.row-inputs.active label span{
  font-size: 0.8rem;
}

.row-inputs.smaller{
  width: 80%;
}

.row-inputs.smallest{
  width: 50%;
  flex-direction: column;
}

.row-inputs.smallest span{
  margin-left: 5px;
}

.row-inputs div{
  margin-right: 40px;
  width: 100%;
}

.cars-found-container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 66%;
  padding: 50px;
  gap: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90%;
  justify-items: center;
  align-items: center;

  /* Hide scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.cars-found-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.cars-container {
  width: 66%;
}
