.navbar-container{
  position: fixed;
  top: 20px;
  left:20px;
}

.MuiPaper-root{
  margin: 15px;
  border-radius: 20px;
  height: calc(100% - 30px) !important;
}

.MuiListItemText-root .MuiTypography-root {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}