.navbar-container{
  position: sticky;
  width: 200px;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-container button{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.navbar-container header{
  display: flex;
  padding-left: 10px;
  font-size: 0.8rem;
}

.navbar-container header img{
  width: 30px;
  margin-right: 20px;
  object-fit: contain;
}